div(id="#{rule.id}", style="display:none;")
h3 ACL
table(class="inline")
    thead
        tr(class="titles")
            th Docs
    tbody
        each docid, i in rule.docIDs
            tr
                td
                    div(id="#{docid}")
                        a(href="")
                        p
                
table(class="inline")
    thead
        tr(class="titles")
            th Subjects
    tbody
        each userid, i in rule.userIDs
            tr
                td
                    div(id="#{userid}")
                        img(
                            class="avatar", 
                            data-src="contacts/#{userid}/picture.png", 
                            src="contacts/#{userid}/picture.png",
                            height="50", 
                            width="50"
                        )
                        p
                    
