//div(id="#{rule.id}", style="display:none;")

div(id="#{rule.id}", class="container", style="display:block")
    h3 ACL
    table(class="table table-inline", style="width:50%;float:left")
        thead
            tr(class="titles")
                th Docs
        tbody
            each docid, i in rule.docIDs
                tr(id="#{docid}", class="success")
                    td
                        a(href="")
                        p
                    td
                        a(href="")
                            img(src="./images/validate.png", height="25", width="25")
                        a(href="")
                            img(src="./images/cancel.png", height="25", width="25")
                    
    table(class="table table-inline", style="width:50%;float:right")
        thead
            tr(class="titles")
                th Subjects
        tbody
            each userid, i in rule.userIDs
                tr(id="#{userid}", class="success")
                    td
                        img(
                            class="avatar", 
                            data-src="contacts/#{userid}/picture.png", 
                            src="contacts/#{userid}/picture.png",
                            height="50", 
                            width="50"
                        )
                        p
                    td
                        a(href="")
                            img(src="./images/validate.png", height="25", width="25")
                        a(href="")
                            img(src="./images/cancel.png", height="25", width="25")
