div(class="container")
    a(class="col-lg-3 btn btn-success", id="addsharingrule", href="#")
        i(class="fa fa-plus-circle fa-lg")  Add Sharing Rule
    a(class="col-lg-3 btn btn-success", id="addtrigger", href="#")
        i(class="fa fa-plus-circle fa-lg")  Add Trigger


div(id="createrule", class="container", style="display:none")
    div(class="well bs-component")
        form(class="form-horizontal")
            fieldset
                legend Create Sharing rule
                div(class="form-group")
                    i(class="fa fa-files-o fa-lg col-lg-2")  What docs?
                div(class="form-group")
                    label(class="col-lg-offset-2 col-lg-1") Type
                    input(class="col-lg-3", type='text', name='doctype')
                div(class="form-group")
                    label(class="col-lg-offset-2 col-lg-1") Attribute
                    input(class="col-lg-3", type='text', name='docattr')
                div(class="form-group")
                    label(class="col-lg-offset-2 col-lg-1") Value
                    input(class="col-lg-3", type='text', name='docval')
                div(class="form-group")
                    label(class="fa fa-users fa-lg col-lg-2")  With who?
                div(class="form-group")
                    label(class="col-lg-offset-2 col-lg-1") Attribute
                    input(class="col-lg-3", type='text', name='subattr')
                div(class="form-group")
                    label(class="col-lg-offset-2 col-lg-1")  Value
                    input(class="col-lg-3", type='text', name='subval')
                input(id='createRule', class="btn btn-primary", type='button', value='Create rule')
            

div(id="createtrigger", class="container", style="display:none")
    div(class="well bs-component")
        form(class="form-horizontal")
            fieldset
                legend Create trigger on sensitive documents
                div(class="form-group")
                    label(class="col-lg-3", for="select") Trigger type
                    select(class="col-lg-2", id="triggertype")
                        option(name="who") &#xf0c0; Who
                        option(name="what") &#xf0c5;  What
                        option(name="which") &#xf0c0;&#xf0c5; Which
                div(class="form-group")
                    label(id="triggeratt1", class="col-lg-3") Attribute Who
                    input(class="col-lg-2", type='text', name='triggerattribute')
                div(class="form-group")
                    label(id="triggerval1", class="col-lg-3") Value Who
                    input(class="col-lg-2", type='text', name='triggervalue')
                div(id="triggerattblock", class="form-group", style="display:none")
                    label(id="triggeratt2", class="col-lg-3") Attribute
                    input(class="col-lg-2", type='text', name='triggerattribute2')
                div(id="triggervalblock", class="form-group", style="display:none")
                    label(id="triggerval2", class="col-lg-3") Value
                    input(class="col-lg-2", type='text', name='triggervalue2')
                input(id='createTrigger', class="btn btn-primary", type='button', value='Create trigger')

div(class="container")
    h3 Visualize Sharing Rules and ACLs
    
    table(class="table table-bordered")
        thead
            tr(class="titles")
                th
                    p Share what?
                        i(class="fa fa-files-o fa-lg")
                th
                    p With who?
                        i(class="fa fa-users fa-lg")
                th Action
        tbody
            each rule, i in rules
                tr
                    td #{rule.filterDoc.rule}
                    td #{rule.filterUser.rule}
                    td
                        a(class="btn btn-default", data-id="#{rule.id}", name="showACL", href="#")
                            i(class="fa fa-eye fa-lg")  See ACL
                        a(class="btn btn-danger", data-id="#{rule.id}", name="removeRule", href="#")
                            i(class="fa fa-trash-o fa-lg")  Delete


#acl

div(class="container")
    h3 Visualize Watchdog Triggers
    
    table(class="table table-bordered")
        thead
            tr(class="titles")
                th Trigger type
                th Watchdog
                th Action
        tbody
            each trigger, i in triggers
                tr
                    td #{trigger.type}
                    td
                        p(id="watchdog") #{trigger.watchdog}
                    td
                        a(class="btn btn-default", data-id="#{trigger.id}", name="showTrigger", href="#")
                            i(class="fa fa-eye fa-lg")  See results
                        a(class="btn btn-danger", data-id="#{trigger.id}", name="removeTrigger", href="#")
                            i(class="fa fa-trash-o fa-lg")  Delete

#trigger
